<form name="register" class="register step" ng-submit="doRegister()" novalidate>

    <div class="form-group" form-state="register.name">
        <div class="errors">
            <span class="error" ng-if="register.name.$error.required">请输入账号</span>
            <span class="error" ng-if="register.name.$error.notTaken">账号已存在，请选择其他用户名</span>
        </div>
        <label>账号</label>
        <input name="name" class="form-control input-lg font-kai" type="text" placeholder="请输入 邮箱/手机号码"
               ng-model="$root.name"
               ng-focus="goToAccountView()"
               ng-disabled="disableInputs"
               required
               >
        <a class="form-control-feedback glyphicon glyphicon-ok"></a>
    </div>

    <div class="form-group" form-state="register.password">
        <div class="errors">
            <span class="error" ng-if="register.password.$error.required">请输入密码</span>
            <span class="error" ng-if="register.password.$error.minlength">请输入至少六位密码</span>
        </div>
        <label>密码</label>
        <input name="password" class="form-control input-lg font-kai"
               type="password"
               ng-model="password"
               focus-bind="focuses.password"
               ng-disabled="disableInputs"
               required ng-minlength="6"
               placeholder="请输入密码" >
        <a class="form-control-feedback glyphicon glyphicon-ok"></a>
    </div>

    <div class="form-group" form-state="register.password2">
        <div class="errors">
            <span class="error" ng-if="register.password2.$error.required">请输入确认密码</span>
            <span class="error" ng-if="register.password2.$error.minlength">请输入至少六位密码</span>
            <span class="error" ng-if="register.password2.$error.equals">和上面的密码不一致</span>
        </div>
        <label>确认密码</label>
        <input name="password2" class="form-control input-lg font-kai"
               type="password"
               ng-model="password2"
               focus-bind="focuses.password2"
               ng-disabled="disableInputs"
               required
               ng-minlength="6"
               equals="{{password}}"
               placeholder="请重复上面的密码" >
        <a class="form-control-feedback glyphicon glyphicon-ok"></a>
    </div>

    <button type="submit" class="btn btn-block btn-success btn-lg" ng-disabled="disableInputs">
        <span ng-hide="disableInputs">注册</span>
        <img src="/img/loading-bars.svg" alt="loading" ng-show="disableInputs"/>
    </button>
</form>